 <%# tarjetas %>
 <div class="center-block">
 


        <section>
          <div class="container py-3">
            <div class="card">
              <div class="row ">
                <div class="col-md-3">
                    <%# <img src="/assets/taladro2.jpg" class="imagen_taladro img-fluid"> %>
                    <%# <%= training.image.nil? ? image_tag(training.image) : '' %>
                    <%= image_tag training.image.variant(resize: "250x250")   %>
                  </div>
                  <div class="col-md-9 px-3">
                    <div class="card-block px-3">
                      <h3 class="card-header"><strong><%= training.name %></strong></h3>
                      </hr>
                      <p class="card-text"><%= training.description %></p>
                      <%# <a href="#" class="btn btn-primary">Read More</a> %>
                       <%# likes %> 
                             
                          <div class="like  d-inline-block mt-5">
                           <%if user_signed_in? %>                      
                            <%= training.likes.count%> 

                                <%= link_to ('<i class="'+training.like_icon(current_user)+'"></i>').html_safe, training_likes_path(training), method: :post%>
                     
                                  <div class=" botones_index btn-sm btn-group text-right  ml-5" role="group" aria-label="Basic example">
                    
                                            <a href="<%= training.url_video %>" class="btn btn-outline-danger mt-2 " data-toggle="modal"  data-target="#videoYoutubeModal">Ver videos</a>
                
                                            <%= link_to 'Hacer Test',   training_quiz_path(training, training.quiz), class:"btn btn-outline-primary mt-2" %> 
                                            <%= link_to 'Obtener Certificado',   certificates_index_path, class:"btn btn-success mt-2" %>
                                  </div>        
                            <% end %>               
                            </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="float-right">
               
                <% if current_user.try(:admin?)%>
                
                <td><%= link_to 'Show', training%><td>
                <td><%= link_to 'Edit', edit_training_path(training)%><td> 
                <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' }%><td>
                 <%end %>
                </div>
            </div>     
          </div>
        </section>

      

          <!--Modal: modalYT-->
          <div class="modal fade" id="videoYoutubeModal" tabindex="-1" role="dialog" aria-labelledby="videoYoutubeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <!--Content-->
              <div class="modal-content">
                <!--Body-->
                <div class="modal-body mb-0 p-0">
                  <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <%# <iframe class="embed-responsive-item" src="https://www.youtube.com/playlist?list=PLCqqd50OVvCDHnnOG80yXRAlpS4jonhDF"
                    allowfullscreen></iframe> %>
                    <%# <iframe width="560" height="315" src="<%= training.url_video %>
                    <iframe class="embed-responsive-item" src="<%= training.url_video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                       <%# src="<%= training.url_video %>
                </div>
                  <button type="button" class="btn btn-outline-primary btn-rounded btn-md "
                    data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>

         
    
    </div> 