<div class="img_principal">
    			<div class="col  align-items-center text-center">
             <h1 class="mt-3 text-light"> Certificate con <strong><span id="bosch"> Bosch </span> <strong></h1>
   		   </div>	
</div>

</br>
<%# modal agregar capacitacion %>
<button type="button" class="btn btn-primary btn float-right" data-toggle="modal" data-target="#modalNewTraining">Agregar Capacitacion</button>
  
  <%= form_with(model: @training, remote: true) do |form| %>
  <div class="modal fade" id="modalNewTraining" tabindex="-1" role="dialog"> 
      <div class="modal-dialog"> 
          <div class="modal-content">

              <div class="modal-header bg-primary">
                 <h2 class="modal-title text-white">Nueva Capacitacion</h2>
                 <button type="button" class="close" data-dismiss="modal" arial-label="Close">             
                 <span aria-hidden="true">&times;</span>
                 </button>
              </div>

              <div class="modal-body">
                     <div class="form-group"> 
                      <%= form.label :name %>
                      <%= form.text_field :name, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= form.label :description %>
                      <%= form.text_field :description, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                      <%= form.label :url_video %>
                      <%= form.text_field :url_video, :class => "form-control" %>
                    </div>
                      <div class="field">
                        <%= form.label :image %>
                        <%= form.file_field :image, :class => "form-control"  %>
                    </div>
              </div>

               <div class="modal-footer">
                 <%= form.submit "Guardar", :class => "btn btn-primary" %>
              </div>
          </div>
      </div>
  </div>
 <%end%>

<%# fin modal agregar Capacitacion %>

<div class="">
  <%= render "shared/card"%>
</div>


<%# <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Url video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| 
      <tr>
        <><%= training.name 
        <td><%= training.description 
        <td><%= training.url_video
        <td><%= link_to 'Show', training
        <td><%= link_to 'Edit', edit_training_path(training) 
        <td><%= link_to 'Destroy', training, method: :delete, data: { confirm: 'Are you sure?' }
      </tr>
    <% end 
  </tbody>
</table>

<br> %>

 <%# <h2>Listado por AJAX</h2>
  <div class="" id="container_trainings">
    <%=render @trainings
  </div>
<br> %>

<%= link_to 'New Training', new_training_path %>
