<p id="notice"><%= notice %></p>

<div class="container bg-white m-1 p-4">
 <% if current_user.try(:admin?)%>
    <%= link_to 'Edit Training', edit_training_quiz_path(@quiz.training, @quiz) %> 
 <%end%>

  <h2 class="text-center"><%= @quiz.training.name %></h2>

   <% if current_user.try(:admin?)%>
    <%= link_to 'Nueva Pregunta', new_training_quiz_question_path(@quiz.training, @quiz) %> 
  <%end%> 

    <%= render @quiz.questions%>

      <div class="text-center"><button class="btn btn-primary btn-sx" type="button">Enviar respuestas</button></div>
</div>

