

<div class="linea_color">
<img src="/assets/linea_color6.jpg"  class="img-fluid" alt="Responsive image"/>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">

  <!-- Navbar content -->
  <div class="logo">
    <a class=" text-right navbar-brand " href="<%=root_path%>"> <img src="/assets/logobosch2525.jpg" /><strong class="titulo">ACADEMIA</strong> </a>
        <div class="ml-5 pl-3 text-secondary">
          <p class="">Herramientas eléctricas profesionales</p>
           <%if user_signed_in? %> 
          
          <div class="nav-item container">
          Hola, <%= current_user.name %> 
          </div> 
        <% end %>
        </div>
 </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    

   <%# Hola <%= current_user.photo_url %>  
   
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
         <%if user_signed_in? %>  

           <li class="nav-item">
                   <%= link_to 'Inicio',   root_path, class:"nav-link" %>
            </li> 
              
           <li class="nav-item">  
                   <%= link_to 'Mi perfil',   users_path, class:"nav-link" %>
            </li> 
                    <%# <%= link_to "Mi perfil #{image_tag(current_user.photo_url)}".html_safe,  home_index_path, :class =>"mr-sm-2 w-25 nav-link"%> 
                  <%# <%=  link_to image_tag(current_user.photo_url),  home_index_path,class:"photo_user_nav md-4"%> 
             <li class="nav-item">
                   <%= link_to 'Capacitaciones',   trainings_path, class:"nav-link" %>
            </li>
             <li class="nav-item">      
                <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :get, class:"nav-link" %>
            </li>

         <% else %>
            <li class="nav-item">
                <%= link_to 'Registrarse', new_user_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Iniciar sesion ', new_user_session_path, class:"nav-link" %>
            </li>
         <% end %> 
    </ul>


    
 




  </div>
  
</nav>
        
